.app{
    width: 100vw;
    height: 100vh;
    background-color: #e7ebed;
}
body{
    margin: 0;
    padding: 0;
    
}

.Sidebar{
    margin-top: -10px;
    height: 100%;
    width:250px;
    background-color: #4e73df;
    margin-left: -30px;
}  

.headings{
    display: flex;
    flex-direction: row;
    
}



.upperpartone{
    display: flex;
    flex-direction: row;
    margin-left: 300px; 
    margin-top:-650px;
    background-color: #e7e9ec;
    font-weight: bold;
    border-style:solid;
    border-color: #4e73df;
    width:400px;
    height: 140px;
    border-width: 1px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 5px 5px none;
}

.upperpartwo{
    font-weight: bold;
    margin-left: 706px; 
    margin-top: -140px;
    background-color: #e7e9ec;
    border-style:solid;
    width: 400px;
    height: 140px;
    border-width: 1px;
    border-color: #4e73df;
}
.upperpartthree{
    font-weight: bold;
    margin-left: 1113px; 
    margin-top: -140px;
    background-color: #e7e9ec;
    border-style:solid;
    width: 400px;
    height: 140px;
    border-width: 1px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 5px 5px none;
    border-color: #4e73df;
}

.lowerpart{
    display: flex;
    flex-direction: row;
    margin-left: 300px; 
    margin-top: 40px;
    background-color: #e9ebee;
    border-style:solid;
    width:600px;
    height: 300px;
    border-radius: 16px;
    border-width: 1px;
    box-shadow: 5px 5px none;
}

.listitems{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-left: 30px; 
    margin-top: 20px;
    background-color: #f4f6f7;
    border-style: solid;
    border-width: 1px;
    color: black;
    width:750px;
    height: 72px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px ;   
}
.button{
    text-decoration: none;
    border-radius: 12px;
    border-style: solid;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 230px;
    margin-bottom: 20px;
    margin-left: -480px;
    color: rgb(243, 242, 242);
    background-color: #111111;
}

.buttonSell{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
    margin-top: 21px;
    border-style: solid;
    border-width: 1px;
    background-color: #cccecf;
    color: black;
    width: 160px;
    height: 71px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.buttonSell:hover{
    background-color: #111111;
}
.table{
    display: block;
    overflow: hidden;
    
    border-collapse: collapse;
    overflow-x: auto;
    table-layout: auto;
}
.table thead{
    background-color: #faf5f5;
    color:#060606;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-style: solid;
    border-width: 2px;
      
}
.table th{
    padding:0.9cqmax;
}
.table th, .table td{
    padding: 0.8rem;
}
.table td{
    color:#110f0f;
}
.table tbody tr:hover{
    background-color: #eee;
}
.sell{
    font-size: medium;
    border-radius: 4px;
    border-color: #f01212;
}
.buy{
    font-size: medium;
    border-radius: 4px;
    border-color: #1230f0;
}